@page "/exoform"
<h3>ExerciceFormulaire</h3>

@if(!string.IsNullOrEmpty(Status))
{
    
    <p style="@(Status == "Validation OK" ? "color:Green;": "color:Red;")">@Status</p>
}

<EditForm class="form" Model="MyForm" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit">
    <DataAnnotationsValidator />
    <div class="form-control">
        Nom : <InputText @bind-Value=MyForm.Nom  />
    </div>
    <div class="form-control">
        Email : <InputText type="email" @bind-Value=MyForm.Email  />
    </div>
    <div class="form-control">
        Telephone : <InputText type="phoneNumber" @bind-Value=MyForm.Telephone  />
    </div>
    <div class="form-control">
        Message : <InputText @bind-Value=MyForm.Message/>
    </div>
    <div class="form-control">
        Couleur : <input type="color" @bind-value=MyForm.ColorChoice  />
    </div>

    <button class="btn btn-success">Valider</button>
    <ValidationSummary />
</EditForm>

@code {

}
